.headerMain {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-left: 3.2rem;
	padding-right: 3.2rem;
	height: 12rem;
}

@media (max-width: 47.99em) {
	.headerMain {
		height: 7rem;
	}
}

.headerContainer {
	max-width: 140rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 100%;
}

.headerContainer > * {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}
