/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto,
		Segoe UI, Helvetica Neue, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	font-size: 100%;
	font-weight: 300;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 10px;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body > * {
	-ms-flex: none;
	flex: none;
}

ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* defined by daniel base on shoptify.com */
#root {
	height: 100%;
}

:focus {
	outline: -webkit-focus-ring-color auto 5px;
}

html {
	height: 100%;
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0.911);
	color: #161d25;
	overflow-y: scroll;
}

html *,
html :after,
html :before {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-style: normal;
}

a {
	text-decoration: none;
	background: transparent;
}

a:active,
a:hover {
	outline: 0;
}

a:focus {
	outline: none;
}

::selection {
	color: #f4f5f6;
	background-color: #5c6ac4;
}
button,
input,
select,
textarea {
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
}

button:focus,
input,
input:focus,
input:invalid {
	box-shadow: none;
}

img,
svg {
	display: block;
}
