.App__appFrame___W9Q8x {
	height: 100%;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

/* .appFrame > * {
	-ms-flex: none;
	flex: none;
} */

.Header__headerMain___12pyy {
	padding-left: 3.2rem;
	padding-right: 3.2rem;
	height: 12rem;
	background-color: black;
}

.Header__headerContainer___3FWhi {
	max-width: 140rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 100%;
}

.Header__headerContainer___3FWhi > * {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.HeaderNav__container___2Ufwb {
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 1.2rem;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: justify;
	justify-content: space-evenly;
	margin: 1rem;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: white;
}

.HeaderLogo__container___1E06d {
	margin: 1rem;
	width: 10rem;
	height: 10rem;
}

.HeaderLogo__logo___KkOvj {
	width: 100%;
	height: auto;
}

.Work__mainWrapper___2Nio0 {
	visibility: visible;
}

.Work__mainContainer___3cfdw {
	max-width: 140rem;
	margin-right: auto;
	margin-left: auto;
}

.Work__componentsContainer___1YoJg {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-width: 0;
	max-width: 100%;
	background-color: goldenrod;
}


.ProjectList__mainWrapper___3Cke2 {
	padding: 3.2rem 2.4rem 4rem;
}

.ProjectList__projectList___3vbY5 {
	margin-bottom: 4rem;
}

@media (min-width: 30em) {
	.ProjectList__projectList___3vbY5 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

@media (min-width: 60em) {
	.ProjectList__mainWrapper___3Cke2 {
		padding-left: 3.2rem;
		padding-top: 4rem;
		padding-right: 3.2rem;
		padding-bottom: 4rem;
	}
}

@media (min-width: 67.5em) {
	.ProjectList__mainWrapper___3Cke2 {
		padding: 4.8rem 8rem 12.8rem;
	}
}

@media (min-width: 90em) {
	.ProjectList__mainWrapper___3Cke2 {
		padding-left: 12.8rem;
		padding-right: 12.8rem;
	}
}

.ProjectEntry__entry___TZS7c {
	margin-top: 4.8rem;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 100%;
}

.ProjectEntry__imgContainer___YAgZu {
	max-width: 60rem;
}

.ProjectEntry__imgContainer___YAgZu img {
	width: 100%;
	height: 100%;
}

@media (min-width: 60em) {
	.ProjectEntry__entry___TZS7c {
		max-width: calc((100% - 2.4rem) / 2);
	}
}

.Info__mainWrapper___37a-o {
	visibility: visible;
}

.Info__mainContainer___pNFzi {
	max-width: 140rem;
	margin-right: auto;
	margin-left: auto;
}

.Info__info___mFgYr {
	font-size: 1.6rem;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-width: 0;
	max-width: 100%;
	background-color: black;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	align-items: center;
	padding: 3.2rem 2.4rem 4rem;
}

.Info__infoBio___1v9AN {
	color: white;
	max-width: 50rem;
	line-height: 1.55;
}

.Info__infoEmail___qOZS7 {
	margin-top: 2em;
}

.Info__infoContact___3w3zB {
	margin-top: 1em;
}

.Info__infoEmail___qOZS7 a,
.Info__infoContact___3w3zB a {
	color: white;
}

.Info__infoEmail___qOZS7 a {
	font-weight: bolder;
}

a:hover,
a:active {
	color: rgba(255, 255, 255, 0.678);
	text-decoration: underline;
}

