.mainWrapper {
	visibility: visible;
}

.mainContainer {
	max-width: 140rem;
	margin-right: auto;
	margin-left: auto;
}

.info {
	font-size: 1.6rem;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-width: 0;
	max-width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	padding: 3.2rem 2.4rem 4rem;
}

.infoBio {
	color: white;
	max-width: 50rem;
	line-height: 1.55;
}

.infoEmail {
	margin-top: 2em;
}

.infoContact {
	margin-top: 1em;
}

.infoEmail a,
.infoContact a {
	color: white;
}

.infoEmail a {
	font-weight: bolder;
}

a:hover,
a:active {
	color: rgba(255, 255, 255, 0.678);
	text-decoration: underline;
}
