.mainContainer {
	text-align: center;
	position: relative;
}

.button {
	letter-spacing: 0.2em;
	font-size: 1em;
	font-weight: bold;
	color: white;
	margin: 1em;
	padding: 0.5em 1.5em;
	cursor: pointer;
}

.galleryContainer {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
}

.galleryContainer img {
	max-width: calc(100%);
}
