.mainWrapper {
	visibility: visible;
	margin-bottom: 4rem;
}

.sectionInfo {
	max-width: 100rem;
	margin: 0 auto;
	font-size: 1.6rem;
	color: white;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
}

.iframeContainer {
	position: relative;
	padding-top: 56.25%;
	height: 0;
	overflow: hidden;
}

.iframeContainer iframe {
	position: absolute;
	left: 0;
	top: 0;
	border: 0;
	height: 100%;
	width: 100%;
}

.infoContainer {
	max-width: 80rem;
	padding: 2rem;
	line-height: 1.55;
	margin-bottom: 3.5rem;
}

.infoTitle {
	text-transform: uppercase;
	font-weight: 800;
	padding-bottom: 2rem;
}

.infoDescription a {
	color: white;
}

.sectionImages {
	text-align: center;
	height: auto;
}

.imagesList {
	list-style: none;
	width: 100%;
}

.imagesItem {
	width: inherit;
	height: auto;
	text-align: center;
}
.imagesItem:not(:last-child) {
	margin-bottom: 2rem;
}

.image {
	width: 100%;
	height: auto;
}

@media (min-width: 60em) {
	.mainWrapper {
		margin-top: -9.5rem;
	}

	.iframeContainer {
		margin-left: 16rem;
		margin-right: 16rem;
	}

	.imagesList {
		width: 80%;
		margin: 0 auto;
	}
	.imagesItem {
		margin: 0 auto;
	}
}
