.container {
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 1.2rem;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: justify;
	justify-content: space-evenly;
	margin: 1rem;
	text-transform: uppercase;
	background-color: black;
}

@media (max-width: 47.99em) {
	.container {
		-ms-flex-direction: row;
		flex-direction: row;
		align-items: center;
	}
}

.container a {
	text-decoration: none;
	color: white;
	margin-left: 2rem;
}
