.mainWrapper {
	padding: 3.2rem 2.4rem 4rem;
}

.projectList {
	margin-bottom: 4rem;
	border-top: 0.4rem solid #f4f6f8;
}

@media (min-width: 30em) {
	.projectList {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

@media (min-width: 48em) {
	.projectList {
		padding-top: 4rem;
	}
}

@media (min-width: 60em) {
	.mainWrapper {
		padding-left: 3.2rem;
		padding-top: 4rem;
		padding-right: 3.2rem;
		padding-bottom: 4rem;
	}
}

@media (min-width: 67.5em) {
	.mainWrapper {
		padding: 4.8rem 8rem 12.8rem;
	}
}

@media (min-width: 90em) {
	.mainWrapper {
		padding-left: 12.8rem;
		padding-right: 12.8rem;
	}
}
